<div class="sidebar">
	<h2>Weather</h2>

	<a href="http://www.accuweather.com/en/us/chicago-il/60608/weather-forecast/348308" class="aw-widget-legal">
	<!--
	By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
	-->
	</a><div id="awcc1416708008260" class="aw-widget-current"  data-locationkey="348308" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1416708008260"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

	<h2>Coupons</h2>
	<%= image_tag("coupons.jpg", height: '100%', width: '100%') %>
</div>