<%= render partial: "application/page_banner" %>
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<div class="page-header">
			  <h1>About Us <small>Subtext for header</small></h1>
			</div>
			<h3>Serving the greater Chicagoland and Northwest Suburbs</h3>
			<p>On behalf of <strong>Integrity Heating and Air Conditioning,</strong> we would 
				like to take a few moments to introduce ourselves to you and 
				provide an explanation of the services we can offer you, whether 
				it is for your home or business… we can do it all!!</p>
			<h3>Our business is built on trust, dependability, and reliable service</h3>
			<p>Integrity HVAC is a <strong>Full Service Company</strong> that specializes in installations as well 
				as service and repairs on all types of heating, air conditioning, refrigeration and ventilation. 
				We offer competitive quotes on these installations and service repairs of all types of 
				HVAC/R systems. We also offer maintenance and service contracts, or if you prefer we offer 
				service on an hourly basis. We are completely family owned and operated. We offer fully trained 
				an skilled service technicians and sheet metal workers in every vehicle. Each of our field 
				service techicians completes an extensive orientation program along with annual training to keep 
				them up to date on the latest and greatest technologies available. Our vehicles are new, 
				reliable and fully stocked with the tools and equipment necessary to complete our jobs 
				efficiently and timely…to <strong>Your</strong> satisfaction!</p>
			<p>We can handle jobs both big and small including roof top units, air conditioning, 
				refrigerations, make-up air and exhaust systems, hanging heaters, humidification, furnaces 
				and boilers to name a few. Our family of satisfied customers range from residential clients, 
				small businesses and large restaurant corporations.</p>
			<p class="text-center">We value our reputations and hope that we can add 
				<strong>YOU</strong> to our family of happy and satisfied clients.</p>
			<p class="text-center"> Call us <strong>NOW</strong> to discuss your future needs and how we 
				can best meet them!!</p>
			<h3 class="text-center">(847) 839-9800</h3>
		</div>
		<div class="col-lg-3">
			Sidebar
		</div>
	</div>
</div>