<%= render partial: "application/page_banner" %>
<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-9">
			<h2>Commercial</h2>
			<div class="media">
			  <a class="media-left col-lg-5 col-md-5" href="#">
			    <%= image_tag("commercial.jpg", height: '100%', width: '100%') %>
			  </a>
			    <p>The answer to all your commercial HVAC and refrigeration 
			    	needs IS INTEGRITY.</p>
			    <p>Our goal is to keep your operations working and your business 
			    	successful. We offer emergency service, complete with trained 
			    	and licensed technicians who are dedicated to providing prompt, 
			    	reliable and honest service.</p>
		    	<p>We specialize in all HVAC repairs and also can diagnose 
		    		and offer repair solutions for your refrigeration issues.</p>
		    	<p>WIn addition, we can create comprehensive maintenance solutions-individualized 
		    		to meet your needs-to keep your business running smoothly and avoid those 
		    		costly and emergent service calls and repairs.  
		    		Call us today for a free estimate on these customized plans</p>
	    		<p>So, if your business in the the Greater Chicagoland area and you have HVAC or 
	    			refrigeration needs, call INTEGRITY…</p>
	    		<h3>Services We offer</h3>
	    		<ul>
	    			<li>Rooftop Furnaces</li>
	    			<li>Rooftop Air COnditioners</li>
	    			<li>Hanging Heaters</li>
	    			<li>Exhaust Hoods</li>
	    			<li>Make Up Air Hoods</li>
	    			<li>Balancing</li>
	    			<li>Refrigerated Prep Tables</li>
	    			<li>Walk In Coolers/Freezers</li>
	    			<li>Reach In Coolers</li>
	    			<li>Boilers</li>
	    			<li>Humidification</li>
	    			<li>Thermostats</li>
	    			<li>Duct Work</li>
	    		</ul>
	    		<h5 class="text-center">INTEGRITY – <i>“Big enough to serve you small enough to care”</i></h5>
	    		<h3 class="text-center">Call Us Today!</h3>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<%= render partial: "application/sidebar" %>
		</div>
	</div>
</div>