<%= render partial: "application/page_banner" %>
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h2>FAQ</h2>
			<p>Below are some of the most common questions homeowners 
				ask about heating and air conditioning systems. Just click 
				on the question that interests you to go directly to the answer.</p>
			<a href="#">Why should I replace my existing heating or air conditioning system?</a><br>
			<a href="#">How long should my furnace or air conditioner last?</a><br>
			<a href="#">Should I clean my furnace and air conditioner every year?</a><br>
			<a href="#">What is involved in replacing an old system?</a><br>
			<a href="#">What is involved in installing a new system?</a>
			<h3>Why should I replace my existing heating or air conditioning system?</h3>
			<p>You may wish to consider replacing your air conditioning or heating system if it is old, 
				inefficient or in need of repair. Today’s systems are as much as 60% more efficient than 
				those systems manufactured as little as ten years ago. In addition, if not properly 
				maintained, wear and tear on a system can reduce the actual or realized efficiency of 
				the system. If you are concerned about utility bills or are faced with an expensive repair, 
				you may want to consider replacing your system rather than enduring another costly season 
				or paying to replace an expensive component. The utility cost savings of a new unit may 
				provide an attractive return on your investment. If you plan on financing the purchase, 
				the monthly savings on your utility bill should be considered when determining the actual 
				monthly cost of replacing a system. The offsetting savings may permit you to purchase a 
				more efficient system.</p>
			<h3>How long should my furnace or air conditioner last?</h3>
			<p>Older furnace units, made prior to 1980, typically last for 10-15 years. Newer Furnaces 
				with a stainless steel heat exchanger come with a lifetime warranty. Older air 
				conditioners last 10-12 years, while newer units can last 15-20 year with the 
				proper maintenance.</p>
			<h3>Should I clean my furnace and air conditioner every year?</h3>
			<p>YES! If you properly maintain your furnace and air conditioning units, 
				you can get many more years of good service. Lack of maintenance is the 
				#1 cause of repairs and/or replacement of furnace and air conditioner parts.</p>
			<h3>What is involved in replacing an old system?</h3>
			<p>Aside from the placement of the new equipment, we will inspect several items and 
				make a determination of whether or not these items need to be supplied or replaced. 
				Some of the items include: ductwork, insulation, refrigerant piping, electrical 
				service, wiring, thermostat, condensate piping, flue piping, flue terminations, 
				chimney liner, slabs, filter, driers, registers, grills, drain pans and evaporator coil. </p>
			<h3>What is involved in installing a new system?</h3>
			<p>If a system is being added to the home for the first time, most of the items noted in 
				the previous question and answer may be required to install the new system. Besides the 
				equipment, the most significant component is ductwork. The ductwork can be either metal or 
				fiberglass ductwork. The ductwork needs to be properly sized to deliver the right amount of 
				air to each room. The ductwork consists of supply and return ductwork. The supply duct is attached 
				to the outlet of the furnace or air handler and delivers air to individual zones in your home. 
				Your York dealer will determine the size of the ductwork going into a space by the amount of air 
				that needs to be delivered to the space.</p>
		</div>
		<div class="col-lg-3">
			<%= render partial: "application/sidebar" %>
		</div>
	</div>
</div>