<%= render partial: "application/page_banner" %>
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h1>Services</h1>
			<h3>Commercial</h3>
			<p>The answer to all your commercial HVAC and refrigeration needs IS INTEGRITY. 
				Our goal is to keep your operations working and your business successful. 
				We offer emergency service, complete with trained and licensed technicians 
				who are dedicated to providing prompt, reliable...</p>
			<h3>Residential</h3>
			<p>Home is where the heart is and when you encounter sudden heating and cooling 
				needs at home, Integrity is here to help. We understand how important heating 
				and cooling can be in your home, that’s why we offer emergent service, 
				complete with trained and licensed technicians...</p>
		</div>
		<div class="col-lg-3">
			Sidebar
		</div>
	</div>
</div>